#column1 {
	float: left;
	width: 20%;
	padding-left: 3em;
	padding-top: 3em;
	}

#column2 {
	float: left;
	width: 41%;
	display: inline-block;
	padding-left: 1em;
	padding-top: 2.25em;
	}

#column3 {
	float: right;
	width: 30%;
	padding-top: 2.25em;
	}

#follow {
	padding-top: 1.36em;
	padding-left: 0;
}

.about h3 {
	font-family: 'Karla', sans-serif;
	font-size: 1.5em;
	color: #000;
	text-align: left;
	padding: 0;
	font-weight: 700;
	line-height: 1.75em;
}

.about p {
	font-family: 'Karla', sans-serif;
	font-size: 1.5em;
	line-height: 1.35em;
	color: #000;
	text-align: left;
	padding: 0;
	margin-top: .25em;
}

.about img {
	display: block;
	width: 100%;
	padding: 0;
}

@media only screen and (max-width: 1030px) {

#column1 {
	float: left;
	width: 20%;
	padding-left: 3em;
	padding-top: 3em;
	}

#column2 {
	float: left;
	width: 35%;
	display: inline-block;
	padding-left: 1em;
	padding-top: 2.25em;
	}

#column3 {
	float: right;
	width: 30%;
	padding-top: 2.25em;
	}

#follow {
	padding-top: 1.36em;
	padding-left: 0;
}

.about h3 {
	font-family: 'Karla', sans-serif;
	font-size: 1em;
	color: #000;
	text-align: left;
	padding: 0;
	font-weight: 700;
	line-height: 1.75em;
}

.about p {
	font-family: 'Karla', sans-serif;
	font-size: 1em;
	line-height: 1.35em;
	color: #000;
	text-align: left;
	padding: 0;
	margin-top: .25em;
}

.about img {
	display: block;
	width: 100%;
	padding: 0;
}

}

@media only screen and (max-width: 700px) {

#column1 {
	float: none;
	width: 100%;
	padding-top: 1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	}

#column2 {
	float: none;
	width: 100%;
	padding-top: 1.36em;
	padding-left: 0.5em;
	padding-bottom: 0;
	}

#column3 {
	float: none;
	width: 100%;
	padding-top: 1.36em;
	padding-left: 0.5em;
	}

#follow {
	padding-top: 1.36em;
	padding-left: 0;

}

.about h3 {
	font-family: 'Karla', sans-serif;
	font-size: 1em;
	color: #000;
	text-align: left;
	padding-bottom: 0;
	font-weight: 700;
	line-height: 1.36em;
}

.about p {
	font-family: 'Karla', sans-serif;
	font-size: 1em;
	line-height: 1.36em;
	color: #000;
	text-align: left;
	padding-top: 0;
	margin-top: .25em;
}

.about img {
	width: 100%;
	padding: 0;
}

}