.HJA h2 {
	font-family: 'Karla', sans-serif;
	font-size: 2.5em;
	color: #000;
	text-align: left;
	padding-top: 2em;
	padding-left: 4.95em;
	padding-bottom: .45em;

}

.HJA h3 {
	font-family: 'Karla', sans-serif;
	font-size: .85em;
	color: #000;
	text-align: left;
	max-width: 30%;
	padding-left: 14.85em;
	padding-bottom: 5em;
	font-weight: 700;
}


.HJA p {
	font-family: 'Karla', sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	color: #000;
	text-align: left;
	max-width: 50%;
	padding-left: 12.5em;
	padding-bottom: .65em;
}

.HJA img {
	display: block;
	width: 95%;
	padding: .5em;
	margin: auto;
}

@media only screen and (max-width: 1020px) {
main {
	width: 100%;
}
}

@media only screen and (max-width: 750px) {
	.left, .center, .right {
		float:none;
		width:auto;
		padding: .5em;
	}

	nav a {
		display: none;
	}

	#mobile {
		display: block;
		padding: 0;
	}

	nav:hover a {
		display: block;
	}

	p {
		padding-bottom: .5em;
		line-height: 1.2em;
	}

	footer {
	font-family: 'Karla', sans-serif;
	font-size: .85em;
	}

.HJA h2 {
	font-family: 'Karla', sans-serif;
	font-size: 2em;
	color: #000;
	text-align: left;
	padding-top: 2em;
	padding-left: 3.3em;
	padding-bottom: .45em;

}

.HJA h3 {
	font-family: 'Karla', sans-serif;
	font-size: .85em;
	color: #000;
	text-align: left;
	max-width: 80%;
	padding-left: 8em;
	padding-bottom: 5em;
	font-weight: 700;
}

.HJA p {
	font-family: 'Karla', sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	color: #000;
	text-align: left;
	max-width: 80%;
	padding-left: 6.75em;
	padding-bottom: .65em;
}

}

@media only screen and (max-width: 700px) {

.left, .center, .right {
	float: none;
	width: auto;
	display: block;
}


.HJA h2 {
	font-family: 'Karla', sans-serif;
	font-size: 2em;
	color: #000;
	text-align: left;
	padding-top: 2em;
	padding-left: 1em;
	padding-bottom: .45em;

}

.HJA h3 {
	font-family: 'Karla', sans-serif;
	font-size: .85em;
	color: #000;
	text-align: left;
	max-width: 80%;
	padding-left: 2.2em;
	padding-bottom: 5em;
	font-weight: 700;
}

.HJA p {
	font-family: 'Karla', sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	color: #000;
	text-align: left;
	max-width: 80%;
	padding-left: 2em;
	padding-bottom: .65em;
}
}