.ngamuru h2 {
	font-family: 'Work Sans', sans-serif;
	font-size: 2.5em;
	color: #000;
	text-align: left;
	padding-top: 2em;
	padding-left: 4.95em;
	padding-bottom: .45em;

}

.ngamuru h3 {
	font-family: 'Work Sans', sans-serif;
	font-size: .85em;
	color: #000;
	text-align: left;
	max-width: 30%;
	padding-left: 14.85em;
	padding-bottom: 5em;
	font-weight: 600;
}

/*.ngamuru h4 {
	font-family: 'Work Sans', sans-serif;
	font-size: .85em;
	padding-left: 1.25%;
	padding-top: 5em;
	line-height: 1.5em;
	display: inline;
	float: right;
	clear: both;
	margin: 0;
	text-align: right;
}*/

.ngamuru p {
	font-family: 'Work Sans', sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	color: #000;
	text-align: left;
	max-width: 50%;
	padding-left: 12.5em;
	padding-bottom: .65em;
}

.ngamuru img {
	display: block;
	width: 95%;
	padding: .5em;
	margin: auto;
}

@media only screen and (max-width: 1020px) {
main {
	width: 100%;
}
}

@media only screen and (max-width: 750px) {
	.left, .center, .right {
		float:none;
		width:auto;
		padding: .5em;
	}

	nav a {
		display: none;
	}

	#mobile {
		display: block;
		padding: 0;
	}

	nav:hover a {
		display: block;
	}

	p {
		padding-bottom: .5em;
		line-height: 1.2em;
	}

	footer {
	font-family: 'Work Sans', sans-serif;
	font-size: .85em;
/*	padding-left: 1.25%;
	padding-top: 2em;*/
/*	line-height: 1.5em;
*/	}

.ngamuru h2 {
	font-family: 'Work Sans', sans-serif;
	font-size: 2em;
	color: #000;
	text-align: left;
	padding-top: 2em;
	padding-left: 3.3em;
	padding-bottom: .45em;

}

.ngamuru h3 {
	font-family: 'Work Sans', sans-serif;
	font-size: .85em;
	color: #000;
	text-align: left;
	max-width: 80%;
	padding-left: 8em;
	padding-bottom: 5em;
	font-weight: 600;
}

.ngamuru p {
	font-family: 'Work Sans', sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	color: #000;
	text-align: left;
	max-width: 80%;
	padding-left: 6.75em;
	padding-bottom: .65em;
}

}

@media only screen and (max-width: 600px) {
	#three_column {
/*		padding: .5em;
		display: block;
		flex-direction: row;
		flex-wrap: wrap;*/
	}

	.left, .center, .right {
		float: none;
		width: auto;
		display: block;
	}


.ngamuru h2 {
	font-family: 'Work Sans', sans-serif;
	font-size: 2em;
	color: #000;
	text-align: left;
	padding-top: 2em;
	padding-left: 1em;
	padding-bottom: .45em;

}

.ngamuru h3 {
	font-family: 'Work Sans', sans-serif;
	font-size: .85em;
	color: #000;
	text-align: left;
	max-width: 80%;
	padding-left: 2.2em;
	padding-bottom: 5em;
	font-weight: 600;
}

.ngamuru p {
	font-family: 'Work Sans', sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	color: #000;
	text-align: left;
	max-width: 80%;
	padding-left: 2em;
	padding-bottom: .65em;
}
}